<div>
<form class="form-horizontal" name="demoForm" ng-submit="demo(data);" >
    Image:<br>
    <font color="black" ><input type="text"  ng-model="data.image" name="image" ></font>
    <br>
    subject_id:<br>
    <font color="black" ><input type="text"  ng-model="data.subject_id" name="subject_id" ></font>
    <br>
    gallery_name:<br>
    <font color="black" ><input type="text"  ng-model="data.gallery_name" name="gallery_name" ></font>
    <br><br>
    <font color="black" ><input type="submit" value="Submit"></font>
</form>
</div>