<h2 class="page-title">Login</h2>
<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">

            <a>
                <img src="assets/img/logo.png" style="height: 100px;" alt=""/>
            </a>
            <marquee>we bulid your idea!!</marquee>
        </header>
        <div class="body">
            <form name="loginForm" id="loginForm" ng-submit="main.doLogin(loginForm.$valid,loginDta);" novalidate>
                <fieldset>

                    <div class="form-body">
                        <label for="UserId" >UserId</label>
                        <div class="input-group input-group-lg input-group-addon">
                            <input ng-disabled="main.disabled " class="form-control" type="text" name="Id" placeholder="Id *" ng-model="main.loginData.id"  required>

                        </div>
                        <p class="help-block" ng-show="(!loginForm.Id.$pristine && loginForm.Id.$error.required) || (loginForm.$submitted && loginForm.Id.$error.required)"><font color="orange">This field is required</font></p>

                    </div>
                    <div class="form-body">
                        <label for="password" >Password</label>
                        <div class="input-group input-group-lg input-group-addon">
                                <input ng-disabled="main.disabled" class="form-control" type="password" name="password" placeholder="password *" ng-model="main.loginData.password" required>
                        </div>
                        <p class="help-block" ng-show="(!loginForm.password.$pristine && loginForm.password.$error.required) || (loginForm.$submitted && loginForm.password.$error.required)"><font color="orange">This field is required</font></p>

                    </div>

                </fieldset><br>
                <div class="form-actions">
                    <button type="submit" class="btn btn-block btn-lg btn-danger" ng-disabled="main.disabled">
                        Login
                    </button>
                    <a href="/forgotPassword"
                       ng-disabled="main.disabled">Forgot Password
                    </a>
                </div>
            </form>
        </div>
    </section>



</div>
